@model EntityLayer.Concreate.Testimonial
@{
    ViewData["Title"] = "EditTestimonial";
    Layout = "~/Views/Shared/_NewAdimLayout.cshtml";
}
<div class="card-header border-0">
    <h3>
        Referanslarım Güncelleme Sayfası
    </h3>
</div>
@using (Html.BeginForm("EditTestimonial", "TestimonailController1", FormMethod.Post))
{
   
 
    @Html.Label("İsim")
    @Html.TextBoxFor(x=>x.ClientName,new{@class="form-control"}  )
    <br />
    @Html.Label("Şirket")
    @Html.TextBoxFor(x=>x.Company,new{@class="form-control"})
    <br />
    @Html.Label("Yorum")
    @Html.TextBoxFor(x=>x.Comment,new{@class="form-control"})
    <br />
    @Html.Label("Unvan")
    @Html.TextBoxFor(x=>x.Title,new{@class="form-control"})
    <br />
    @Html.Label("Görsel")
    @Html.TextBoxFor(x=>x.Title,new{@class="form-control"})
    <br />
    <button  class="btn btn-outline-success btn-lg btn-block" >Güncelle</button>
}



